<div class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg">
  <div class="h-20 w-20 rounded-full border overflow-hidden">
    <%= image_tag current_user.avatar, class: "h-full w-full" %>
  </div>
  <p class="text-sm font-semibold mt-2"><%= current_user.username %></p>
</div>
